<ion-view view-title="Notes">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="vm.showDelete = !vm.showDelete" ng-show="vm.notes.length > 0"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button"  ng-click="vm.showReorder = !vm.showReorder" ng-show="vm.notes.length > 0">Reorder</button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <div class="card" ng-show="vm.notes.length === 0">
            <div class="item item-text-wrap">
                You have no notes.                
            </div>
        </div>

        <ion-list show-delete="vm.showDelete" can-swipe="true" show-reorder="vm.showReorder">
            <ion-item ng-repeat="note in vm.notes" class="item-text-wrap">                
                <ion-delete-button class="ion-minus-circled" ng-click="vm.deleteNote(note.id)"></ion-delete-button>
                <ion-option-button class="button button-calm" ng-click="vm.copyToClipboard(note)">Copy</ion-option-button>
                <ion-option-button class="button button-positive" ng-click="vm.goEditNote(note.id)">Edit</ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="vm.moveItem($fromIndex, $toIndex)"></ion-reorder-button>
                <h2>{{note.text}}</h2>
                <p class="time-ago" am-time-ago="note.dateUpdated"></p>
                <!--<p>{{note.sortOrder}}</p>-->
                <!--<p>{{note.dateUpdated | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}</p>-->
            </ion-item>
        </ion-list>
        
    </ion-content>
    
    <div class="float-button">
      <span class="height-fix">
        <a ng-click="vm.goAddNote()" class="content">
          <i class="ion-ios-plus"> </i>
        </a>
      </span>
    </div>
    
</ion-view>